<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Products</key>
	<array>
		<string>com.igrsoft.bifcode.tip.small</string>
		<string>com.igrsoft.bifcode.tip.large</string>
	</array>
	<key>Subscriptions</key>
	<array>
		<dict>
			<key>Group</key>
			<string>main</string>
			<key>Products</key>
			<array>
				<string>com.igrsoft.bifcode.subscription.monthly</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
